{% extends "superadmin_base.html" %}

{% block pswdChange %}
<div class="container">
    <div class="h2">
        <p class="text-center pane-title text-bg-light2">Password change request</p>
    </div>
    <table id="passwordApproveTable" class="table table-hover">
        <thead>
            <tr>
                <th>Srno</th>
                <th>Username</th>
                <th>Old Password</th>
                <th>New Password</th>
                <th class="text-center">Requested On</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Kavan Bhavsar</td>
                <td>********</td>
                <td>*******</td>
                <td class="text-center">2024-02-23</td>
                <td class="d-flex justify-content-around align-items-center">
                    <span><a tabindex="0" class="fa-solid fa-check" role="button" data-bs-placement="top"
                            data-bs-custom-class="approve-popovertip" data-bs-toggle="popover"
                            data-bs-trigger="focus" data-bs-content="Double Click to approve"></a></span>
                    <span><a tabindex="0" class="fa-solid fa-xmark" role="button" data-bs-placement="top"
                            data-bs-custom-class="reject-popovertip" data-bs-toggle="popover"
                            data-bs-trigger="focus" data-bs-content="Double Click to reject"></a></span>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Bhavya Bagadia</td>
                <td>******</td>
                <td>********</td>
                <td class="text-center">2024-02-23</td>
                <td class="d-flex justify-content-around align-items-center">
                    <span><a tabindex="0" class="fa-solid fa-check" role="button" data-bs-placement="top"
                            data-bs-custom-class="approve-popovertip" data-bs-toggle="popover"
                            data-bs-trigger="focus" data-bs-content="Double Click to approve"></a></span>
                    <span><a tabindex="0" class="fa-solid fa-xmark" role="button" data-bs-placement="top"
                            data-bs-custom-class="reject-popovertip" data-bs-toggle="popover"
                            data-bs-trigger="focus" data-bs-content="Double Click to reject"></a></span>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Jatin Kevlani</td>
                <td>******</td>
                <td>********</td>
                <td class="text-center">2024-02-23</td>
                <td class="d-flex justify-content-around align-items-center">
                    <span><a tabindex="0" class="fa-solid fa-check" role="button" data-bs-placement="top"
                            data-bs-custom-class="approve-popovertip" data-bs-toggle="popover"
                            data-bs-trigger="focus" data-bs-content="Double Click to approve"></a></span>
                    <span><a tabindex="0" class="fa-solid fa-xmark" role="button" data-bs-placement="top"
                            data-bs-custom-class="reject-popovertip" data-bs-toggle="popover"
                            data-bs-trigger="focus" data-bs-content="Double Click to reject"></a></span>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
{% endblock pswdChange %}