{% extends "superadmin_base.html" %}

{% block pswdChange %}
<div class="container">
    <div class="h2">
        <p class="text-center pane-title text-bg-light2">Password change request</p>
    </div>
</div>

<div class="container">
    <div class="mx-5">
        <form>
            <div class="mb-3">
                <label for="currentPassword" class="form-label">Old Password</label>
                <input type="email" class="form-control" id="currentPassword">
            </div>
            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newPassword">
            </div>
            <div class="mb-3">
                <label for="confirmNewPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmNewPassword">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock pswdChange %}